@model Setting

<div class="container">
    <h1>Edit setting</h1>
    <form method="post" asp-action="edit">
        <div class="mb-3">
            <label asp-for="Value" class="form-label">Value</label>
            <input asp-for="Value" class="form-control">
            <span asp-validation-for="Value" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</div>