@model List<Setting>
@{
    int counter = 0;
}

<div class="container">
    <h1>Positions</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Key</th>
                <th scope="col">Value</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@item.Key</td>
                    <td>@item.Value</td>
                    <td>
                        <a asp-action="edit" asp-controller="setting" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>